name: Build APK
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install buildozer kivy cython
      - name: Accept licenses
        run: |
          yes | sdkmanager --licenses
      - name: Install build tools
        run: |
          sdkmanager "build-tools;30.0.3"
      - name: Build APK
        run: |
          buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ndsn.apk
          path: bin/*.apk
