name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install build essentials
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential automake autoconf libtool pkg-config \
            libffi-dev python3-pip python3-setuptools python3-wheel \
            zip unzip git openjdk-11-jdk-headless \
            libssl-dev python3-dev \
            libgl1-mesa-dev libgles2-mesa-dev

            steps:
      - name: List Android Packages
        run: sudo $ANDROID_HOME/tools/bin/sdkmanager --list | sed -n '/Available Packages/q;p'
      - name: Accept license 34.0.0-rc3
        run: echo "y" | sudo $ANDROID_HOME/tools/bin/sdkmanager "build-tools;34.0.0-rc3"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython kivy
          echo yes | ${ANDROID_HOME}/cmdline-tools/tools/bin/sdkmanager "build-tools;34.0.0" && \
          echo yes | ${ANDROID_HOME}/cmdline-tools/tools/bin/sdkmanager "platforms;android-33"

          

      - name: Build APK
        run: buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ndsn.apk
          path: bin/*.apk
